    <div class="jumbotron">
      <div class="container">
        <h1>Find the place to meet.</h1>
        <p>Choose the best routes to meet your loved one.</p>
      </div>
	  <div class="container">
        <form class="pure-form pure-form-aligned" method="post" action="query.php">
			<fieldset>
				<div class="pure-control-group">
					<input id="from1" type="text" placeholder="Your Departure">
				</div>
				<div class="pure-control-group">
					<input id="from2" type="text" placeholder="His/Her Departure">
				</div>
			</fieldset>
			<input type="submit" value="Search" class="pure-button pure-button-primary">
		</form>
      </div>
    </div> 
	
	
    <!--
    <div class="neighborhood-guides">
      <div class="container">
        <h2>Find the best flights and the best rates.</h2>
        <p>Not sure where to meet? We have the answer for you.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/0sX3jq">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/Av1pac">
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/vw43v1">
                </div>
            </div>
        </div>
      </div>
    </div> 
    
    <div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-4">
			<h3>Flights</h3>
			<p>Find the best flights and the best rates to meet with your loved ones.</p>
			<p><a href="#">See how to travel on Smartflights</a></p>
	      </div>
		  <div class="col-md-4">
			<h3>Accomodation</h3>
			<p>Find out the best deals for your destination.</p>
			<p><a href="#">Learn more about bookings</a></p>
		  </div>
		  <div class="col-md-4">
			<h3>FAQ</h3>
			<p>Questions? We are here to answer.</p>
			<p><a href="#">Go to FAQs</a></p>
		  </div>
	    </div>
	  </div>
	</div>
	-->
